<% include header %>
	<div class="text-center">
		<h1>Hanchi Ahmed Blog</h1>
		<h4>Express js</h4>
		<a href="/Register" class="uk-margin">Register </a>
		<a href="/Login" class="uk-margin">Login </a>	
	</div>
