<% include header %>

		<div class="container uk-padding uk-margin">
			<form class="form-group" method="post" action="/Login">
				<label>Username : </label>
				<input type="text" name="email" class="uk-input" required>
				<label>Password : </label>
				<input type="text" name="password" class="uk-input" required>
				<input type="submit" class="uk-button uk-button-default uk-margin-top">
			</form>
		</div>
