<% include header %>

		<div class="container uk-margin">
			<form class="form-group" method="post" action="/Register">
				<label>Name : </label>
				<input type="text" name="name" class="uk-input" required>
				<label>E-mail : </label>
				<input type="text" name="mail" class="uk-input" required>
				<label>Username : </label>
				<input type="text" name="username" class="uk-input" required>
				<label>Password : </label>
				<input type="password" name="password" id="password" class="uk-input" required>
				<label>Password confirmation: </label>
				<input type="password" class="uk-input" id="confirm_password"  required>
				<input type="submit" class="uk-button uk-button-default uk-margin-top" id="mybtn">
			</form>
		</div>
	</section>
</body>
<script type="text/javascript">
	$( document ).ready(function() {
    	$('#mybtn').hide();
	});


	$('#password, #confirm_password').on('keyup', function () {
	  if ($('#password').val() == $('#confirm_password').val()) {
	  	if( $('#password').val() != ''){
	    if ($('#password').val().length > 5 ){
	    	$('#mybtn').show(1000);	
	    }
	    }
	  } else 
	    $('#mybtn').hide(1000);
	});
</script>
</html>